XML/distributionDesc_1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Address">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Walter@Rothlin.com"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Command">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="createDestinationDir($date)"/>
				<xs:enumeration value="filterData($subType)"/>
				<xs:enumeration value="removeHeaderLine(2)"/>
				<xs:enumeration value="updateLog($filename)"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Comment">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="italic"/>
				<xs:element ref="underline"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	
	
	<xs:element name="DestinationDescription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FileTransfer"/>
				<xs:element ref="Printing"/>
				<xs:element ref="Email"/>
				<xs:element ref="Comment"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<xs:element name="Email">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Receiver"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileTransfer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TransferDestination"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FirstName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Walter"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FullName">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FirstName"/>
				<xs:element ref="MiddleName"/>
				<xs:element ref="Name"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MiddleName" type="xs:string"/>
	<xs:element name="Name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Rothlin"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PostAction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Command"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PreAction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Command" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PrinterName">
		<xs:complexType mixed="true">
			<xs:attribute name="convertion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ASC"/>
						<xs:enumeration value="PDF"/>
						<xs:enumeration value="PS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Printing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PrinterName" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Receiver">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FullName"/>
				<xs:element ref="Address"/>
				<xs:element ref="Subject"/>
				<xs:element ref="Text"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="asExcelAttachment"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Renameing" type="xs:string"/>
	<xs:element name="Subject">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Report $name $date"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Text" type="xs:string"/>
	<xs:element name="TransferDestination">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PreAction"/>
				<xs:element ref="Renameing"/>
				<xs:element ref="PostAction"/>
			</xs:sequence>
			<xs:attribute name="protokol" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ftp"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="user" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="a438995"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="password" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:hexBinary">
						<xs:enumeration value="12345f"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="node" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="122.64.55.200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="convertion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PDF"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="destinationDir" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="/app/data/reports"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="italic">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" einer DestinationDescription"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="underline">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Beschreibung"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
