XML/leute.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="vorname"  type="xs:string"/>
	<xs:element name="mittelinitial"  type="xs:string"/>
	<xs:element name="nachname"  type="xs:string"/>
	<xs:element name="beruf" type="xs:string"/>	
	<xs:element name="hobby"  type="xs:string"/>

	<xs:element name="leute">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="person" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="name">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vorname"/>
				<xs:element ref="mittelinitial" minOccurs="0"/>
				<xs:element ref="nachname"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="beruf"  minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="hobby" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="geboren" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="gestorben" type="xs:short"/>
		</xs:complexType>
	</xs:element>

	

</xs:schema>
