XML/people.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Walter rothlin (Credit Suisse Private Banking) -->
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT name (#PCDATA)>
<!ELEMENT people (person+)>
<!ATTLIST people
	xmlns CDATA #REQUIRED
>
<!ELEMENT person (name, pet, phone+)>
<!ELEMENT pet (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ATTLIST phone
	location (home | mobile) #REQUIRED
>
