Python_WaltisExamples/_BZU/2022/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri Nov 25 2022 09:07:30 GMT+0100 (Mitteleuropäische Normalzeit) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="catalog">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="cd" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="title" type="xs:string"></xs:element>
                                             <xs:element name="artist" type="xs:string"></xs:element>
                                             <xs:element name="country" type="xs:string"></xs:element>
                                             <xs:element name="company" type="xs:string"></xs:element>
                                             <xs:element name="price" type="xs:double"></xs:element>
                                             <xs:element name="year" type="xs:int"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>