DatenFiles/XML/cd_liste_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <!-- XML Schema Generated from XML Document on Fri Nov 13 2020 12:15:44 GMT+0100 (Mitteleuropäische Normalzeit) -->
   <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
   <xs:element name="catalog">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="cd" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="title" type="xs:string" />
                     <xs:element name="artist" type="xs:string" />
                     <xs:element name="country" type="xs:string" />
                     <xs:element name="company" type="xs:string" />
                     <xs:element name="price" type="xs:double" />
                     <xs:element name="year" type="xs:int" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>